# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.dat
*.out
md_fdps.d
md_fdps.x
pdb/vmd0000000000.pdb
pdb/vmd0000001000.pdb
src/md_fdps_enum_model.hpp
test_blz_dist.x
test_comm.x
test_condition.x
test_force_LJ.x
test_force_coulomb.x
test_intra_pair.x
test_init.x
test_model.x
test_force_angle.x
test_vec.x
test_force_bond.x
blz_dist_result.txt
